<style>
  .cardClass {
    padding-right: 8px;
    padding-left: 8px;
  }
</style>
<div class="main-content">

  <div class="col-md-12">

    <div class="row">
      <div class="col">
        <h3 class="mr-auto text-muted mt-0">
          <b> Transactions</b>

        </h3>
      </div>
      <!-- <div>
        <form class="navbar-form mr-auto" style="margin-top: 6px">
          <div class="input-group no-border">
            <input style="margin-bottom: 6px" type="text" value="" class="form-control" style="font-style:italic" placeholder="Search...">
            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
      </div> -->

    </div>
    <br>
    <mat-divider style="margin-bottom: 6px;margin-top: -20px"></mat-divider>
    <h4 class="text-muted" style="margin-top: 8px" style="margin-bottom: -10px">Today</h4>
    <div class="row">

      <div class="col-lg-2 col-md-6 col-sm-6 cardClass">
        <div class="card">
          <div class=card-body>

            <!-- <div class="progress progress-line-primary">
              <div class="progress-bar progress-bar-success" style="width: 100%">
                <span class="sr-only ">20% Complete (warning)</span>
              </div>

            </div> -->
            <!-- <div class="ml-auto">
                                  <p ><font size="0">100%</font></p>
                          </div> -->


            <h4 class="text-warning text-success mt-0">
              <small>Sale</small>
            </h4>
            <span style="color:grey;">
              <b>&#x20b9; {{totalSale}}</b>
            </span>

          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6 cardClass">
        <div class="card">
          <div class=card-body>
            <!-- <div class="progress progress-line-primary mb-0">
              <div class="progress-bar progress-bar-warning" style="width: 100%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
            </div> -->
            <!-- <div class="d-flex" style="margin-bottom: -20px">              
              <div class="ml-auto">
                <p>
                  <font size="0">100%</font>
                </p>
              </div>
            </div> -->
            <h4 class="text-warning">
              <small>Commission</small>
            </h4>
            <span style="color:grey;">
              <b>&#x20b9;{{totalComission}}</b>
            </span>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 cardClass">
        <div class="card card-hieght">
          <div class=card-body>
            <div class="row">

              <div class="col border border-left-0 border-top-0 border-bottom-0">
                <!-- <div class="progress progress-line-primary mb-0">
                  <div class="progress-bar " [ngStyle]="{'width': SimActivationPercentage()}">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                </div> -->
                <!-- <div class="d-flex" style="margin-bottom: -20px">
                  <div class="ml-auto">
                    <p>
                      <font size="0">{{SimActivationPercentage()}}</font>
                    </p>
                  </div>
                </div> -->
                <h4 class="text-info">
                  <small>SIM Activation</small>
                </h4>
                <span style="color:grey;">
                  <b> {{simActivation}}</b>
                </span>

              </div>

              <div class="col border border-left-0 border-top-0 border-bottom-0">
                <!-- <div class="progress progress-line-primary mb-0">
                  <div class="progress-bar" [ngStyle]="{'width': rechargePercentage()}">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                </div> -->
                <!-- <div class="d-flex" style="margin-bottom: -20px">
                  <div class="ml-auto">
                    <p>
                      <font size="0">{{rechargePercentage()}}</font>
                    </p>
                  </div>
                </div> -->
                <h4 class="text-info">
                  <small>Recharge</small>
                </h4>
                <span style="color:grey;">
                  <b>{{recharge}}</b>
                </span>
              </div>

              <div class="col border border-left-0 border-top-0 border-bottom-0">
                <!-- <div class="progress progress-line-primary mb-0">
                  <div class="progress-bar " [ngStyle]="{'width': deviceSalePercentage()}">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                </div> -->
                <!-- <div class="d-flex" style="margin-bottom: -20px">
                  <div class="ml-auto">
                    <p>
                      <font size="0">{{deviceSalePercentage()}}</font>
                    </p>
                  </div>
                </div> -->
                <h4 class="text-info">
                  <small>Device Sale</small>
                </h4>
                <span style="color:grey;">
                  <b>{{deviceSale}}</b>
                </span>
              </div>
              <div class="col">
                <!-- <div class="progress progress-line-primary mb-0">
                  <div class="progress-bar " [ngStyle]="{'width': deviceExchangePercentage()}">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                </div> -->
                <!-- <div class="d-flex" style="margin-bottom: -20px">
                  <div class="ml-auto">
                    <p>
                      <font size="0">{{deviceExchangePercentage()}}</font>
                    </p>
                  </div>
                </div> -->
                <h4 class="text-info">
                  <small>Device Exch</small>
                </h4>
                <span style="color:grey;">
                  <b>{{deviceExchange}}</b>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-12 col-sm-12 cardClass">
        <div class="card card-hieght text-white bg-info text-center add-click">
          <div class="card-body" data-toggle="modal" data-target="#myModal" (click)="onReset()" style="cursor: pointer;margin-top: 4px;-ms-transform: translateY(-50%);
          transform: translateY(5%); ">
            <p> Record
              <br/> Transaction</p>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="table-responsive table-hover">
      <table class="table table-spacing">
        <thead>
          <tr>
            <th style="width:10%" class="text-center">{{ tableData3.headerRow[0] }}</th>
            <th style="width: 15%" class="text-center">
              <!-- <mat-form-field>
                    <mat-select class="text-justify" [(ngModel)]="sales" placeholder="Sales">
                      <mat-option *ngFor="let sales of saleTypeList" [value]="sales.value">{{sales.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Sales</a> <span class="caret"></span>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="selectSales(sales.value)" *ngFor="let sales of saleTypeList; let i = index" style="overflow: absolute">{{sales.name}}</a>
                </div>
              </div>
            </th>
            <th style="width: 10%" class="text-center">{{ tableData3.headerRow[2] }}</th>
            <!-- <th class="dropdown">
                  <a class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdow{{sales}}</mat-option>
                  </mat-select>
                </th>n" aria-haspopup="true" aria-expanded="true">{{ tableData3.headerRow[3] }}</a>
                  <ul class="dropdown-menu">

                  </ul>
                </th> -->
            <th style="width: 20%" class="text-center">
              <mat-form-field class="no-line" style="width: 150px;">
                <mat-label>Date/Time</mat-label>
                <input matInput [owlDateTime]="dt10" [selectMode]="'range'" [(ngModel)]="dateTimeRange">
                <owl-date-time #dt10></owl-date-time>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon [owlDateTimeTrigger]="dt10" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>

                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- Date
              <owl-date-time #dt10></owl-date-time>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon [owlDateTimeTrigger]="dt10" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker> -->

            </th>
            <th style="width: 10%" class="text-center">{{ tableData3.headerRow[4] }}</th>
            <th style="width: 20%" class="text-center">
              <!-- <mat-form-field>
                    <mat-select class="ml-2" [(ngModel)]="status" placeholder="Settlement">
                      <mat-option *ngFor="let status of statusArray" [value]="status">{{status}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->

              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Settlement</a> <span class="caret"></span>
                <div class="dropdown-menu">
                  <a class="dropdown-item" tabindex="i" (click)="selectSettlement(status)" *ngFor="let status of statusArray; let i = index">{{status}}</a>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of transactionDataList | filter:status | filter: sales | dateFilterPipe :dateTimeRange[0] : dateTimeRange[1]; let i = index"
            data-toggle="modal" data-target="#myModal" class="custom-table" (click)="onClickListener()">
            <td style="width: 10%" class="text-center">{{row.TxId}}</td>
            <td style="width: 20%" class="text-center">{{row.saleType}}</td>
            <td style="width: 10%" class="text-center">{{row.saleAmount}}</td>
            <td style="width: 20%" class="text-center"> {{row.txCreatedTime*1000 | date:'medium'}}</td>
            <td style="width: 10%" class="text-center"> {{row.commission}}</td>

            <td style="width: 20% " *ngIf="row.commissionSettlement==='True'">

              <i class="material-icons text-success text-center pl-5">done</i>

            </td>
            <td style="width: 20%;" *ngIf="row.commissionSettlement==='False'">

              <i class="material-icons  text-danger text-center pl-5">close</i>

            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="transactionDataList.length === 1">DATA NOT FOUND</p>
      <mat-paginator [length]="length"  [pageSize]="pageSize"  [pageSizeOptions]="pageSizeOptions"  (page)="onPageChanged($event)">
      </mat-paginator>

    </div>

  </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabelledBy">

  <div class="modal-dialog modal-xl">
    <div class="modal-content p-3">
      <div *ngIf="step==='one'">
        <div class="modal-header pt-2 mt-2 pl-3 pr-3">
          <h4>
            <b>New Sale : Step 01 of 03</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal" (click)="form2.reset()">&times;</button>
        </div>


        <div class="modal-body pl-3 pr-3 m-1 pt-0 pb-0">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2 ">

              <form (ngSubmit)="onNext()" #form2="ngForm" class="mb-0">
                <hr>
                <div>
                  <div class="mr-auto">
                    <strong>Sale Information</strong>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-lg-4 pl-3 pr-0">
                    <mat-label>Transc ID *</mat-label>
                    <p style="font-size: 14px">
                      <b style="padding-left:30px;">-</b>
                    </p>
                  </div>
                  <div class="col-lg-4 pl-3 pr-0">
                    <mat-label>Dealer ID</mat-label>
                    <p style="font-size: 14px">
                      <b>{{userName}}</b>
                    </p>
                  </div>
                  <div class="col-lg-4 pl-3 pr-0">
                    <mat-label>Created at</mat-label>
                    <p style="font-size: 14px">
                      <b>{{createdDate()}}</b>
                    </p>
                  </div>
                </div>
                <hr class="mb-1">
                <div>
                  <b class="float-left" style="font-size: 18px; padding-top:5px;">Sale Items</b>
                  <button class="btn btn-info btn-round btn-sm float-right mb-3" type="button" (click)="onAdd()">+Add</button>
                </div>
                <br>
                <hr class="mt-3">



                <table border="0">
                  <thead>
                    <td style="width: 20%" class="text-center">Sale Type</td>
                    <td style="width: 20%" class="text-center">Item Type</td>
                    <td style="width: 20%" class="text-center">Details</td>
                    <td style="width: 20%" class="text-center">Plan</td>
                    <td style="width: 10%" class="text-center">Qty</td>
                    <td style="width: 10%" class="text-center">&#x20b9;Amount</td>
                    <td style="width: 10%" class="text-center"></td>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sale of salesItems ; let i=index;">
                      <td style="width: 20%" class="text-center  pt-0 pb-0 pl-1 pr-1">
                        <mat-form-field class="pb-0">
                          <mat-select required [(ngModel)]="sale.saleType" name="saleType_{{i}}"
                          (ngModelChange)="onSaleTypeChange(sale.saleType, i)">
                            <mat-option *ngFor="let sales of saleTypeList" [value]="sales.value">
                              {{sales.name}}
                            </mat-option>
                          </mat-select>
                          <mat-error>Required Sale Type</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 20%" class="text-center  pt-0 pb-0 pl-1 pr-1">
                        <mat-form-field class="pb-0">
                          <mat-select required [(ngModel)]="sale.itemType" name="itemType_{{i}}"
                          (ngModelChange)="onItemTypeChange(sale.itemType, i)">
                            <mat-option *ngFor="let items of productTypeList[i]" [value]="items">
                              {{ items }}
                            </mat-option>
                          </mat-select>
                          <mat-error>Required ItemType</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 20%" class="text-center  pt-0 pb-0 pl-1 pr-1">
                        <mat-form-field class="pb-0">
                          <input matInput required [(ngModel)]="sale.itemId" name="itemId_{{i}}">
                          <mat-error>Required Details</mat-error>
                        </mat-form-field>
                      </td>

                      <td style="width: 20%" class="text-center  pt-0 pb-0 pl-1 pr-1">
                        <!-- <mat-form-field class="pb-0">
                          <input matInput required [(ngModel)]="sale.planId" name="planId_{{i}}">
                          <mat-error>Required Plan</mat-error>
                        </mat-form-field> -->

                        <mat-form-field class="pb-0">
                            <mat-select required [(ngModel)]="sale.planId" name="planId_{{i}}"
                            (ngModelChange)="onPlanTypeChange(sale.planId,i)">
                              <mat-option *ngFor="let plans of planList[i]" [value]="plans.value">
                                {{ plans.name }}
                              </mat-option>
                            </mat-select>
                            <mat-error>Required Plan</mat-error>
                          </mat-form-field>
                      </td>

                      <td style="width: 10%" class="text-center  pt-0 pb-0 pl-1 pr-1">
                        <mat-form-field class="p-0">
                          <input matInput type="number" min="0" required [(ngModel)]="sale.quantity" name="quantity_{{i}}" ngModelChange>
                          <mat-error>Required Quantity</mat-error>
                        </mat-form-field>
                      </td>


                      <td style="width: 10%" class="text-center pt-0 pb-0 pl-1 pr-1">
                        <!-- <mat-form-field class="pb-0"> -->
                          <!-- <input matInput type="number" min="0" required  [(ngModel)]="sale.saleAmount" name="amount_{{i}}" ngModelChange>
                          <mat-error>Required SaleAmount</mat-error> -->
                          <mat-label>{{sale.saleAmount}}</mat-label>
                        <!-- </mat-form-field> -->
                      </td>

                      <td style="width: 10%" class="text-center pt-0 pb-0 pl-1 pr-1">
                        <i class="material-icons" (click)="deleteTableRow(i)" style="cursor: pointer; ">clear</i>
                      </td>
                    </tr>

                  </tbody>

                </table>





                <!-- <div class="row">
                    <div class="col-lg-2">
                      <mat-form-field>
                        <mat-label>Sale Type</mat-label>
                        <mat-select  required  formControlName="SaleType" name="SaleType">
                          <mat-option *ngFor="let saleType of saleTypeList" [value]="saleType.name">
                            {{ saleType.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.form2.get('SaleType').touched">You must enter a SaleType</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                      <mat-form-field>
                        <mat-label>Item Type</mat-label>
                        <mat-select required formControlName="ItemType" name="ItemType">
                          <mat-option *ngFor="let items of itemType" [value]="items.name">
                            {{ items.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.form2.get('ItemType').touched">You must enter a ItemType</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                      <mat-form-field>
                        <mat-label>Details</mat-label>
                        <input matInput formControlName="Details" required name="Details">
                        <mat-error *ngIf="this.form2.get('Details').touched">You must enter a Details</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                      <mat-form-field>
                        <mat-label>Qty</mat-label>
                        <input matInput  pattern="[0-9]*" required  formControlName="Qty" name="Qty">
                        <mat-error *ngIf="this.form2.get('Qty').touched">Invalid</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2">    
  
                        (ngModelChange)="setAmount('plan', Planvalue)"
                      <mat-form-field>
                        <mat-label>Plan</mat-label>
                        <input matInput required formControlName="Plan" name="Plan">
                        <mat-error *ngIf="this.form2.get('Plan').touched">You must enter a Plan</mat-error>
                         </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                      <mat-form-field>
                        <mat-label>Amount</mat-label>
                        <input matInput required pattern="[0-9]*" name="Amount"  formControlName="saleAmount" >
                        <mat-error *ngIf="this.form2.get('saleAmount').touched">You must enter a Amount</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <br> -->




                <hr class="m-2">
                <div class="float-right">
                  <span style="width: 100px;">
                    <b>Total Amount: </b>&#x20b9;</span>
                  <span style="min-width: 110px; padding-right: 20px;">{{totalAmountfunction()}}/-</span>
                </div>
                <br>
                <hr class="m-2">
                <div class="float-right d-flex">
                  <div>
                    <button type="button" data-dismiss="modal" class="btn btn-white btn-round btn-sm">Close</button>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-info btn-round btn-sm" [disabled]="form2.invalid">Next</button>
                  </div>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="step==='two'">
        <div class="modal-header pt-2 mt-2 pl-3 pr-3">
          <h4>
            <b>New Sale : Step 02 of 03</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body pl-3 pr-3 m-1 pt-0 pb-0">
          <!-- <hr> -->
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">

              <form (ngSubmit)="onSubmit()" [formGroup]="form3" class="mb-0">
                <hr>
                <div>
                  <div class="mr-auto pt-1">
                    <strong>Costume information</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field class="p-0">
                      <mat-label>Customer Type</mat-label>
                      <mat-select required formControlName="customerType" name="customer">
                        <mat-option *ngFor="let customer of CustomerType" [value]="customer.name">
                          {{ customer.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="this.form3.get('customerType').touched">You must enter a customerType</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Customer ID </mat-label>
                      <input matInput required formControlName="customerId" name="customerId">
                      <mat-error *ngIf="this.form3.get('customerId').touched">You must enter a customerId</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label >Customer Name </mat-label>
                      <input matInput required formControlName="customerName" name="customerName">
                      <mat-error *ngIf="this.form3.get('customerName').touched">You must enter a customerName</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Mobile</mat-label>
                      <input matInput required pattern="[0-9]{10}" formControlName="mobile" name="mobile">
                      <mat-error *ngIf="this.form3.get('mobile').touched">You must enter a Mobile Number</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Customer Email</mat-label>
                      <input matInput required type="email" id="email" formControlName="email" name="email">
                      <mat-error *ngIf="this.form3.get('email').touched">{{getErrorEmailMessage()}}</mat-error>
                    </mat-form-field>

                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Loyalty Card</mat-label>
                      <input matInput name="loyalty">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Promo Code</mat-label>
                      <input matInput required formControlName="promoCode" name="PromoCode">
                      <mat-error *ngIf="this.form3.get('promoCode').touched">You must enter a PromoCode</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="mr-auto pt-1">
                    <strong>Address Details</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Address 1</mat-label>
                      <input matInput required formControlName="Address1" name="Address1">
                      <mat-error *ngIf="this.form3.get('Address1').touched">You must enter a Address1</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Address 2</mat-label>
                      <input matInput name="Address2">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>City</mat-label>
                      <input matInput required formControlName="city" name="city">
                      <mat-error *ngIf="this.form3.get('city').touched">You must enter a city</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input matInput required formControlName="state" name="state">
                      <mat-error *ngIf="this.form3.get('city').touched">You must enter a state</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class=" row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Pin Code</mat-label>
                      <input matInput pattern="[0-9]{6}" required formControlName="pincode" name="pincoede">
                      <mat-error *ngIf="this.form3.get('pincode').touched">You must enter a pincode</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="footer p-2 d-flex">
                  <div class="float-left mr-auto">
                    <button type="button" class="btn btn-info btn-round btn-sm" (click)="onPageback2to1()">Back</button>
                  </div>
                  <div class="float-right">
                    <button class="btn btn-white btn-round btn-sm" data-dismiss="modal">Close</button>
                  </div>
                  <div class="float-right">
                    <button type="submit" class="btn btn-info btn-round btn-sm" [disabled]="form3.Invalid"> Next</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="step==='three'">
        <div class="modal-header pt-2 mt-2 pl-3 pr-3">
          <h4>
            <b>New Sale : Step 03 of 03</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body  pl-3 pr-3 m-1 pt-0 pb-0">
          <hr>
          <div>
            <p class="text-left mb-0a">
              <b style="font-size:14px;"> Payment Methods</b>
              <span class="float-right" style="font-size:14px;">ID :
                <b>-</b>
              </span>
            </p>
          </div>
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <div class="btn-group d-flex">
                <button type="button" class="btn btn-outline-info btn-sm btn-round active flex-fill" style="cursor: context-menu;">CASH</button>
                <button type="button" class="btn btn-outline-info btn-sm btn-round flex-fill" disabled>JIO MONEY</button>
                <button type="button" class="btn btn-outline-info btn-sm btn-round flex-fill" disabled>NETBANKING</button>
                <button type="button" class="btn btn-outline-info btn-sm btn-round flex-fill" disabled>CARD PAYMENTS</button>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th class="p-2">
                      <small>Selling Item Details</small>
                    </th>
                  </thead>
                  <tbody id="first" class="pl-3">
                    <tr *ngFor="let sale of salesItems;let i=index;">
                      <td class="p-0">
                      <div>
                        <small class="mt-2">
                          <b>{{i+1}}.</b> {{sale.itemType}}
                          <b> MRP Amount &#x20b9;{{sale.saleAmount}}</b>
                        </small>
                      </div>
                      <div>
                        <small class="pl-3 "> Quantity:
                          <b>{{sale.quantity}}</b>
                        </small>
                      </div>
                      <div>
                        <small class="pl-3 "> Total Amount:
                          <b> &#x20b9;{{sale.saleAmount*sale.quantity}}</b>
                        </small>
                      </div>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pl-3">
                <div>
                  <small> Promo Code:
                    <button class="btn btn-outline-success btn-sm " style="border-color: #e0e0e0;">
                      {{CostumeInfo.promoCode}}
                      <span class="btn-label btn-label-right ">
                        <i class="material-icons">check_circle_outline</i>
                      </span>
                    </button>
                  </small>
                </div>
                <div>
                  <small>Discount:
                    <b>05%</b>
                  </small>
                </div>

              </div>

            </div>
            <div class="col-md-4 col-xs-12">
              <div class="btn-group d-flex">
                <button type="button" class="btn btn-outline-info btn-sm btn-round active btn-block flex-fill">Payable Amount</button>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="m-0 " style="display:table; width:100%;table-layout:fixed">
                    <th class="col-3  text-center p-2" style="width:35%;">
                      <small>Item Type</small>
                    </th>
                    <th class="col-3  text-center p-2" style="width:25%;">
                      <small>Sale Amount</small>
                    </th>
                    <th class="col-3  text-center p-2" style="width:25%;">
                      <small>Item Qty</small>
                    </th>
                    <th class="col-3  text-center p-2" style="width:20%;">
                      <small>Amount</small>
                    </th>
                  </thead>
                  <tbody style="overflow-y:auto;height:160px;display: block">
                    <tr *ngFor="let sale of salesItems;let i=index;" style="display:table; width:100%;table-layout:fixed">
                      <td class="p-0 text-left col-3 pl-2">
                        <small>{{i+1}} {{sale.itemType}}</small>
                      </td>
                      <td class="text-center p-0 col-3 ml-2">
                        <small> &#x20b9;{{sale.saleAmount}}</small>
                      </td>
                      <td class="text-center p-0 col-3 ml-2">
                        <small>{{sale.quantity}}</small>
                      </td>
                      <td class="text-center p-0 col-3 ml-2">
                        <small>&#x20b9;{{sale.saleAmount*sale.quantity}}</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <br>
              <br>
              <br>
              <br> -->

              <hr class="mb-1 mt-1">
              <div>
                <small>After Promo Code Apply Discount 05%
                  <span class="float-right"> &#x20b9;{{dicountedAmount()}}</span>
                </small>
              </div>
              <hr class="mb-1">
              <div>
                <small>
                  <b>Total Payable Amount
                    <span class="float-right"> &#x20b9;{{dicountedAmount()}}</span>
                  </b>
                </small>
              </div>

            </div>
          </div>

          <hr>
          <div class="page-footer">
            <button class="btn btn-sm btn-outline-info btn-round float-left mr-3">
              <span class="btn-label btn-label-left">
                <i class="material-icons">print</i>
              </span>
              Print
            </button>
            <button class="btn btn-sm btn-outline-info btn-round float-left">
              <span class="btn-label btn-label-left">
                <i class="material-icons">replay</i>
              </span>
              Refund
            </button>
            <button class="btn btn-info btn-round btn-sm float-left ml-3" (click)="onPageback3to2()">Back</button>
            <button class="btn btn-info btn-round btn-sm float-right ml-3" data-dismiss="modal" (click)="onSubmission()">Done</button>
            <button class="btn btn-white btn-round btn-sm float-right" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>