<style>
  .cardClass {
    padding-right: 4px;
    padding-left: 4px;
  }
</style>
<div class="main-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col">
        <h3 class="mr-auto text-muted mt-0" style="margin-bottom:8px;">
          <b> Transactions</b>
        </h3>
      </div>
    </div>
    <mat-divider style="margin-bottom: 6px;"></mat-divider>
    <h4 class="text-muted" style="margin-top: 8px" style="margin-bottom: -10px;font-size:16px;">Today</h4>
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6 pr-2">
        <div class="card">
          <div class=card-body>
            <h4 class="text-warning text-success mt-0">
              <small>Sale</small>
            </h4>
            <span style="color:grey;">
              <h4>&#x20b9; {{totalSale}}</h4>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 pr-2">
        <div class="card">
          <div class=card-body>
            <h4 class="text-warning">
              <small>Commission</small>
            </h4>
            <span style="color:grey;">
              <h4>&#x20b9;{{totalComission}}</h4>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 pr-2">
        <div class="card card-hieght">
          <div class=card-body>
            <div class="row">
              <div class="col border border-left-0 border-top-0 border-bottom-0">
                <h4 class="text-info">
                  <small>SIM Activation</small>
                </h4>
                <span style="color:grey;">
                  <h4> {{simActivation}}</h4>
                </span>
              </div>
              <div class="col border border-left-0 border-top-0 border-bottom-0">
                <h4 class="text-info">
                  <small>Recharge</small>
                </h4>
                <span style="color:grey;">
                  <h4>{{recharge}}</h4>
                </span>
              </div>
              <div class="col border border-left-0 border-top-0 border-bottom-0">
                <h4 class="text-info">
                  <small>Device Sale</small>
                </h4>
                <span style="color:grey;">
                  <h4>{{deviceSale}}</h4>
                </span>
              </div>
              <div class="col">
                <h4 class="text-info">
                  <small>Device Exch</small>
                </h4>
                <span style="color:grey;">
                  <h4>{{deviceExchange}}</h4>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12 pr-2">
        <div class="card text-white bg-info text-center add-click" style="height: 98px;">
          <div class="card-body" data-toggle="modal" data-target="#myModal" (click)="onRecordTransactionClick()" style="cursor: pointer;margin-top: 4px;-ms-transform: translateY(-50%);
          transform: translateY(5%); ">
            <p style="margin-bottom: 6px ;"> Record
              <br/> Transaction</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive table-hover">
      <table class="table table-spacing" style="overflow: hidden; z-index: -1000" style="margin-top: -20px">
        <thead>
          <tr>
            <th style="width:10%" class="text-center p-0">{{ tableData3.headerRow[0] }}</th>
            <th style="width: 15%" class="text-center p-0" [ngStyle]="{color:getSaleColour()}" >
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Sales</a>
                <span class="caret"></span>
                <div class="dropdown-menu">
                  <a class="dropdown-item" tabindex="i" (click)="selectSales(sales.value)" *ngFor="let sales of saleTypeListHeader; let i = index"
                    style="overflow: absolute">{{sales.name}}</a>
                </div>
              </div>
            </th>
            <th style="width: 10%" class="text-center">{{ tableData3.headerRow[2] }}</th>
            <th style="width: 20%" class="text-center p-0">
              <mat-form-field class="no-line" style="width: 87px;margin-left: 73px;">
                <mat-label>Date/Time</mat-label>
                <input  matInput [owlDateTime]="dt10" [selectMode]="'range'" [(ngModel)]="dateTimeRange" (ngModelChange)="DateUpdate()">
                <owl-date-time #dt10></owl-date-time>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon [owlDateTimeTrigger]="dt10" matDatepickerToggleIcon >keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </th>
            <th style="width: 10%" class="text-center">{{ tableData3.headerRow[4] }}</th>
            <th style="width: 20%" class="text-center" [ngStyle]="{color:getSettlementColour()}">
              <div class="dropdown text-center">
                <a class="dropdown-toggle" data-toggle="dropdown">Settlement</a>
                <span class="caret"></span>
                <div class="dropdown-menu">
                  <a class="dropdown-item" tabindex="i" (click)="selectSettlement(status)" *ngFor="let status of statusArray; let i = index">
                    <div *ngIf="status==='True'">
                      <i class="material-icons text-success text-center">done</i>
                    </div>
                    <div *ngIf="status==='False'">
                      <i class="material-icons text-danger text-center">close</i>
                    </div>
                    <div *ngIf="status==='All'">
                     {{status}}
                    </div>
                  </a>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of transactionDataListTemp; let i=index;"
            class="custom-table" data-toggle="modal" data-target="#invoiceModal" (click)="onClickListener(i)">
            <td style="width: 10%" class="text-center">{{row.TxId}}</td>
            <td style="width: 20%" class="text-center">{{row.saleType}}</td>
            <td style="width: 10%" class="text-center">{{row.saleAmount}}</td>
            <td style="width: 20%" class="text-center"> {{row.txCreatedTime*1000| date:'medium'}}</td>
            <td style="width: 10%" class="text-center"> {{row.commission}}</td>
            <td class="text-center" style="width: 20% " *ngIf="row.commissionSettlement==='True'">
              <i class="material-icons text-success text-center">done</i>
            </td>
            <td class="text-center" style="width: 20%;" *ngIf="row.commissionSettlement==='False'">
              <i class="material-icons  text-danger text-center">close</i>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="transactionDataListTemp.length === 0" class="text-center">NO DATA AVAILABLE</p>
      <mat-paginator [length]="length"  [pageSize]="pageSize"  [pageSizeOptions]="pageSizeOptions"  (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabelledBy">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div *ngIf="step==='one'">
        <div class="modal-header" style="padding-top: 18px;padding-bottom: 6px; padding-right: 34px;padding-left: 34px;">
          <h4 style="font-size: 18px;">
            <b>New Sale : Step 01 of 03</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <hr class="mt-0 mb-0">
        <div class="modal-body" style="padding-top: 15px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2 ">
              <div>
                <div class="mr-auto">
                  <h4 style="font-size: 18px;">
                    <b>Sale Information</b>
                  </h4>
                </div>
              </div>
              <div class="row mt-2" style="font-size: 16px;">
                <div class="col-lg-6 pl-3 pr-0">
                  <mat-label>Dealer ID</mat-label>
                  <p style="font-size: 14px">
                    <b>{{userName}}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-0 mb-0">
        <div class="modal-body" style="padding-top: 5px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">
              <div>
                <div class="float-left pt-2">
                  <h4 style="font-size: 18px;">
                    <b>Sale Items</b>
                  </h4>
                </div>
                <div class="float-right">
                  <button class="btn btn-info btn-round btn-sm" type="button" [disabled]="form1.invalid" (click)="onAdd()">+Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body" style="padding-top: 5px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">
              <form #form1="ngForm" class="mb-0">
                <table style="border-radius: 5px !important;">
                  <thead style="border-top:1px solid #e5e5e5">
                    <td style="width: 20%" class="text-left pl-3 pt-2 pb-2">Sale Type</td>
                    <td style="width: 20%" class="text-left pt-2 pb-2">Item Type</td>
                    <td style="width: 30%" class="text-left pt-2 pb-2">Details</td>
                    <td style="width: 15%" class="text-left pt-2 pb-2">SKU</td>
                    <td style="width: 5%" class="text-left  pt-2 pb-2">Qty</td>
                    <td style="width: 10%" class="text-left pt-2 pb-2">&#x20b9;Amount</td>
                    <td></td>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sale of salesItems ; let i=index;" style=" border-radius:5px !important; border:1px solid #e5e5e5;">
                      <td style="width: 20%" class="text-center pl-3 ">
                        <mat-form-field class="pb-0" style="width:90%">
                          <mat-select required [(ngModel)]="sale.saleType" name="saleType_{{i}}" (ngModelChange)="onSaleTypeChange(sale.saleType, i)">
                            <mat-option *ngFor="let sales of saleTypeList" [value]="sales.value">
                              {{sales.name}}
                            </mat-option>
                          </mat-select>
                          <mat-error style="font-size: 12px !important;">Required Sale Type</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 20%" class="text-center">
                        <mat-form-field class="pb-0" style="width:90%">
                          <mat-select required [(ngModel)]="sale.itemType" name="itemType_{{i}}" (ngModelChange)="onItemTypeChange(sale.itemType, i)">
                            <mat-option *ngFor="let items of productTypeList[i]" [value]="items">
                              {{ items }}
                            </mat-option>
                          </mat-select>
                          <mat-error style="font-size: 12px !important;">Required ItemType</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 30%" class="text-center">
                        <mat-form-field class="pb-0 pbClass" style="width:95%">
                          <input matInput required [(ngModel)]="sale.itemId" name="itemId_{{i}}">
                          <mat-error style="font-size: 12px !important;">Required Details</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 15%" class="text-center">
                        <mat-form-field class="pb-0" style="width:90%">
                          <mat-select required [(ngModel)]="sale.planId" name="planId_{{i}}" (ngModelChange)="onPlanTypeChange(sale.planId,i)">
                            <mat-option *ngFor="let plans of planList[i]" [value]="plans.value">
                              {{ plans.name }}
                            </mat-option>
                          </mat-select>
                          <mat-error style="font-size: 12px !important;">Required Plan</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 5%" class="text-center">
                        <mat-form-field class="p-0 pbClass" style="width:85%">
                          <input matInput type="number" min="0" required [(ngModel)]="sale.quantity" name="quantity_{{i}}" ngModelChange>
                          <mat-error style="font-size: 12px !important;">Required</mat-error>
                        </mat-form-field>
                      </td>
                      <td style="width: 10%;  " class="text-left">
                        <div>
                          <p class="mb-0">{{sale.saleAmount}}</p>
                        </div>
                        <div>
                          <hr style="border-top: #949494 1px solid; width:95%;" class="mt-0 mb-0 mr-3">
                        </div>
                      </td>
                      <td style="width: 10%" class="text-center pl-1 pr-3">
                        <i class="material-icons" (click)="deleteTableRow(i)" style="cursor: pointer; ">clear</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <div class="modal-body" style="padding-top: 0px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">
              <div class="float-right">
                <span style="width: 100px;">
                  <b>Total Amount: </b>&#x20b9;</span>
                <span style="min-width: 110px; padding-right: 20px;">{{totalAmountfunction()}}/-</span>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-1">
        <div class="modal-body" style="padding-top: 0px;padding-right: 40px;padding-bottom: 5px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">
              <div class="float-right d-flex">
                <div>
                  <button type="button" data-dismiss="modal" class="btn btn-white btn-round btn-sm">Close</button>
                </div>
                <div>
                  <button type="button" class="btn btn-info btn-round btn-sm" [disabled]="form1.invalid" (click)="pageFront1to2()">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="step==='two'">
        <div class="modal-header" style="padding-top: 18px;padding-bottom: 6px; padding-right: 34px;padding-left: 34px;">
          <h4 style="font-size: 18px;">
            <b>New Sale : Step 02 of 03</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <hr class="mt-0 mb-0">
        <div class="modal-body " style="padding-top: 15px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">
              <form [formGroup]="form2" class="mb-0" style="font-size:16px;">
                <div>
                  <h4 style="font-size: 18px;" class="mr-auto pt-1 mb-0">
                    <b>Customer Information</b>
                  </h4>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field class="p-0">
                      <mat-label>Customer Type</mat-label>
                      <mat-select required formControlName="customerType" name="customer">
                        <mat-option *ngFor="let customer of CustomerType" [value]="customer.name">
                          {{ customer.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="this.form2.get('customerType').touched">You must enter a customerType</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Customer ID </mat-label>
                      <input matInput required formControlName="customerId" name="customerId">
                      <mat-error *ngIf="this.form2.get('customerId').touched">You must enter a customerId</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Customer Name </mat-label>
                      <input matInput required formControlName="customerName" name="customerName">
                      <mat-error *ngIf="this.form2.get('customerName').touched">You must enter a customerName</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Mobile</mat-label>
                      <input matInput required pattern="[0-9]{10}" formControlName="mobile" name="mobile">
                      <mat-error *ngIf="this.form2.get('mobile').touched">You must enter a Mobile Number</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Customer Email</mat-label>
                      <input matInput required type="email" id="email" formControlName="email" name="email">
                      <mat-error *ngIf="this.form2.get('email').touched">{{getErrorEmailMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Loyalty Card</mat-label>
                      <input matInput name="loyalty">
                    </mat-form-field>
                  </div>
                </div>
                <hr class="mt-0">
                <div>
                  <h4 style="font-size: 18px;" class="mr-auto pt-1 mb-0">
                    <b>Address Details</b>
                  </h4>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Address 1</mat-label>
                      <input matInput required formControlName="Address1" name="Address1">
                      <mat-error *ngIf="this.form2.get('Address1').touched">You must enter a Address1</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Address 2</mat-label>
                      <input matInput name="Address2">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>City</mat-label>
                      <input matInput required formControlName="city" name="city">
                      <mat-error *ngIf="this.form2.get('city').touched">You must enter a city</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <input matInput required formControlName="state" name="state">
                      <mat-error *ngIf="this.form2.get('city').touched">You must enter a state</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class=" row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Pin Code</mat-label>
                      <input matInput pattern="[0-9]{6}" required formControlName="pincode" name="pincoede">
                      <mat-error *ngIf="this.form2.get('pincode').touched">You must enter a pincode</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr class="mt-0 mb-1">
        <div class="modal-body" style="padding-top: 0px;padding-right: 40px;padding-bottom: 5px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pl-2 pr-2">
              <div class="float-left mr-auto">
                <button type="button" class="btn btn-info btn-round btn-sm" (click)="onPageback2to1()">Back</button>
              </div>
              <div class="float-right">
                <button type="button" class="btn btn-info btn-round btn-sm" (click)="pageFront2to3()" [disabled]="form2.Invalid"> Next</button>
              </div>
              <div class="float-right">
                <button class="btn btn-white btn-round btn-sm" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="step==='three'">
        <div class="modal-header" style="padding-top: 18px;padding-bottom: 6px; padding-right: 34px;padding-left: 34px;">
          <h4 style="font-size: 18px;">
            <b>New Sale : Step 03 of 03</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <hr class="mt-0 mb-0">
        <div class="modal-body " style="padding-top: 15px;padding-right: 40px;padding-bottom: 0px;padding-left: 34px;">
          <div class="row">
            <div class="col-md-12">
              <div>
                <h4 style="font-size: 16px;" class="mb-0">
                  <b>Available Payment Methods</b>
                </h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <div class="btn-group d-flex">
                <p class="flex-fill text-center mb-0" style=" font-size:14px;border:1px solid #00BCD4;padding-top:3px;border-radius: 20px 0 0 20px;background-color: #00BCD4;color:white;cursor: context-menu">CASH</p>
                <p class="flex-fill text-center mb-0" style=" font-size:14px;border:1px solid #00BCD4;padding-top:3px;border-radius: 0 0 0 0;color:#00BCD4;cursor: context-menu">JIO MONEY</p>
                <p class="flex-fill text-center mb-0" style=" font-size:14px;border:1px solid #00BCD4;padding-top:3px;border-radius: 0 0 0 0;color:#00BCD4;cursor: context-menu">NETBANKING</p>
                <p class="flex-fill text-center mb-0" style=" font-size:14px;border:1px solid #00BCD4;padding-top:3px;border-radius: 0 20px 20px 0 ;color:#00BCD4;cursor: context-menu">CARD PAYMENTS</p>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th class="p-2">
                      <small style="font-size:14px;">Selling Item Details</small>
                    </th>
                  </thead>
                  <tbody id="first" class="pl-3">
                    <tr *ngFor="let sale of salesItems;let i=index;">
                      <td class="p-0">
                        <div>
                          <small class="mt-2 text-muted" style="font-size:14px;">
                            <b >{{i+1}}.</b> {{sale.itemType}}
                            <b style="font-size:14px;"> MRP Amount &#x20b9;{{sale.saleAmount}}</b>
                          </small>
                        </div>
                        <div>
                          <small class="pl-3 text-muted" style="font-size:14px;"> Quantity:
                            <b style="font-size:14px;" class="pl-1">{{sale.quantity}}</b>
                          </small>
                        </div>
                        <div>
                          <small class="pl-3 text-muted " style="font-size:14px;"> Total Amount:
                            <b style="font-size:14px;" class="pl-1"> &#x20b9;{{sale.saleAmount*sale.quantity}}</b>
                          </small>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="btn-group d-flex">
                <p class="flex-fill text-center mb-0" style=" font-size:14px;border:1px solid #00BCD4;padding-top:3px;border-radius: 20px 20px 20px 20px;background-color: #00BCD4;color:white;cursor: context-menu">Payable Amount</p>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="m-0 " style="display:table; width:100%;table-layout:fixed;">
                    <th class="col-3 p-2 " style="width:35%;">
                      <small style="font-size:14px;"> Item Type</small>
                    </th>
                    <th class="col-3 p-2" style="width:30%;">
                      <small style="font-size:14px;"> Sale Amount</small>
                    </th>
                    <th class="col-3 p-2 " style="width:25%;">
                      <small style="font-size:14px;"> Item Qty</small>
                    </th>
                    <th class="col-3 p-2 " style="width:15%;">
                      <small style="font-size:14px;"> Amount</small>
                    </th>
                  </thead>
                  <tbody style="overflow-y:auto;height:160px;display: block">
                    <tr *ngFor="let sale of salesItems;let i=index;" style="display:table; width:100%;table-layout:fixed">
                      <td class="col-3 p-2 "  style="width:35%; padding-left: 0px !important;">
                        <small style="font-size:14px;">{{i+1}} {{sale.itemType}}</small>
                      </td>
                      <td class="col-3 p-2 " style="width:30%;">
                        <small style="font-size:14px;"> &#x20b9;{{sale.saleAmount}}</small>
                      </td>
                      <td class="col-3 p-2 "  style="width:25%;">
                        <small style="font-size:14px;">{{sale.quantity}}</small>
                      </td>
                      <td class="col-3 p-2 " style="width:15%;">
                        <small style="font-size:14px;">&#x20b9;{{sale.saleAmount*sale.quantity}}</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr class="mb-1 mt-1">
              <div>
                <small>
                  <b style="font-size:14px;">Total Payable Amount
                    <span class="float-right"> &#x20b9;{{dicountedAmount()}}</span>
                  </b>
                </small>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-1">
        <div class="modal-body" style="padding-top: 0px;padding-right: 40px;padding-bottom: 5px;padding-left: 40px;">
          <div class="row">
            <div class="col-md-12 pr-2 pl-2">
              <button class="btn btn-sm btn-outline-info btn-round float-left mr-3" style="border-color: #e5e5e5 !important;">
                <span class="btn-label btn-label-left">
                  <i class="material-icons">print</i>
                </span>
                Print
              </button>
              <button class="btn btn-sm btn-outline-info btn-round float-left" style="border-color: #e5e5e5 !important;">
                <span class="btn-label btn-label-left">
                  <i class="material-icons">replay</i>
                </span>
                Refund
              </button>
              <button class="btn btn-info btn-round btn-sm float-left ml-3" (click)="onPageback3to2()">Back</button>
              <button class="btn btn-info btn-round btn-sm float-right ml-3" data-dismiss="modal" (click)="onSubmission()">Done</button>
              <button class="btn btn-white btn-round btn-sm float-right" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal" id="invoiceModal">
  <div class="modal-dialog modalview">
    <div class="modal-content">
      <div class="modal-body" style="padding: 50px;">
        <h4 class="modal-title" style="color: dodgerblue;">
          <b>INVOICE</b>
        </h4>
        <hr style="margin-top: 0px;">
        <div class="row">
          <div class="col-lg-6" style="font-size: 12px;">
            <p class="text-muted" style="margin-bottom: 0px;">Customer ID :
              <b>12345</b>
            </p>
            <p class="text-muted" style="margin-bottom: 0px">Dealer Management</p>
            <p class="text-muted" style="margin-bottom: 0px">dealermanagement@ril.com</p>
            <p class="text-muted" style="margin-bottom: 1px">8877811976</p>
            <p class="text-muted" style="margin-bottom: 0px">Reliance Corporate Park,Ghansoli,Maharastra</p>
            <p class="text-muted" style="margin-bottom: 0px">PinCode-400701</p>
          </div>
          <div class="col-lg-6" style="text-align: right; font-size: 12px;">
            <p class="text-muted" style="margin-bottom: -1px">Txn Id-
              <b>{{invoiceData.TxId}}</b>
            </p>
            <p class="text-muted">Date:
              <b>{{invoiceData.txCreatedTime*1000 | date : 'medium'}}</b>
            </p>
          </div>
        </div>
        <br>
        <br>
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th class="text-muted" style="font-size: 13px; padding-left: 0px;">DESCRIPTION</th>
              <th class="text-muted" style="font-size: 13px; padding-left: 0px;">SALE AMOUNT</th>
              <th class="text-muted" style="font-size: 13px; padding-left: 0px;">QTY</th>
              <th class="text-muted text-right" style="font-size: 13px; padding-right: 0px;">AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-muted" style="font-size: 13px">
              <td class="text-muted" style="font-size: 13px; padding-left: 0px;">
                <b>{{invoiceData.planId}}</b>
              </td>
              <td class="text-muted" style="font-size: 13px; padding-left: 0px;">
                <b>&#x20b9;{{invoiceData.saleAmount/invoiceData.quantity}}</b>
              </td>
              <td class="text-muted" style="font-size: 13px; padding-left: 0px;">
                <b>{{invoiceData.quantity}}</b>
              </td>
              <td class="text-muted text-right" style="font-size: 13px; padding-right: 0px;">
                <b>&#x20b9;{{invoiceData.saleAmount}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
      <div style="background-color: dodgerblue; padding:30px 50px;">
        <div class="row" style="color: white;font-size: 13px">
          <div class="col">CASH PAID</div>
          <div class="col">PROMO CODE</div>
          <div class="col">TOTAL AMOUNT</div>
        </div>
        <hr style="margin-top: 0px;margin-bottom: 1px">
        <div class="row" style="color: white;font-size: 13px">
          <div class="col">&#x20b9;{{invoiceData.saleAmount}}</div>
          <div class="col" style="padding-left:75px;">-</div>
          <div class="col">&#x20b9;{{invoiceData.saleAmount}}</div>
        </div>
      </div>
      <br>
      <br>
      <div class="modal-footer" style="color: dodgerblue;font-size: 15px">
        <h4 class="mr-auto " style="margin-left: 26px;font-size: 15px">
          <b>Thank You!</b>
        </h4>
        <p>
          <small style="margin-left: -90px">Dealer ID: {{invoiceData.dealerId}} | 09099788768</small>
        </p>
      </div>
    </div>
  </div>
</div>