<mat-form-field class="example-full-width" style="width: 150px">
  <input matInput [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10"
  [selectMode]="'range'" [(ngModel)]="dateTimeRange" placeholder="Date/Time "
  (input)="onDateTimeChange()">
  <owl-date-time  #dt10></owl-date-time>
  <mat-datepicker-toggle matSuffix [for]="picker">
     <mat-icon [owlDateTimeTrigger]="dt10" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

