<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 card">
                <form (ngSubmit)="onSubmit()">
                    <div class="input-group col-auto ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text ">
                                <i class="material-icons pt-3"> search </i>
                            </span>
                        </div>
                        <mat-form-field class="col-4 mr-auto pt-3 pl-0 pb-0">
                            <input matInput [(ngModel)]="object.nikhil" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search for Schema">
                        </mat-form-field>
                        <div class="col-auto mt-3">
                            <button class="btn btn-info" type="submit">Create Schema</button>
                        </div>
                    </div>
                </form>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">


                            <thead>
                                <th *ngFor="let header of tableData1.headerRow"> {{header}}</th>
                                <th>
                                    <mat-select placeholder="All" [(ngModel)]="status" class="w-50">
                                        <mat-option *ngFor="let status of statusArray" [value]="status">
                                            {{status}}
                                        </mat-option>
                                    </mat-select>
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData1.dataRows | filter:status">
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td>{{row[5]}}</td>
                                    <td [ngClass]="{'text-success': row[6] === 'Active' , 'text-warning': row[6] == 'Upcoming'}">{{row[6]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>