<div class="main-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col">
        <h3 class="mr-auto text-muted mt-0">
          <b> Dealer Data</b>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <mat-divider></mat-divider>
    <div class="table-responsive table-hover" style="overflow-x: auto;font-size: 14px;">
      <table class="table table-spacing">
        <thead>
          <tr>
            <th width="20%" class="text-center" style="font-size: 14px;">Dealer ID</th>
            <th class="text-center" style="font-size: 14px;">Name</th>
            <th class="text-center" style="font-size: 14px;">Channel ID</th>
            <th class="text-center" style="font-size: 14px;">Type</th>
            <th class="text-center" style="font-size: 14px;">Tier</th>
            <th class="text-center" style="font-size: 14px;">L1 parent</th>
            <th class="text-center" style="font-size: 14px;">L2 parent</th>
            <th class="text-center" style="font-size: 14px;">Address</th>
            <th class="text-center" style="font-size: 14px;">Jio payments bank</th>
            <th class="text-center" style="font-size: 14px;">Mobile</th>
            <th class="text-center" style="font-size: 14px;">Email address</th>
            <th class="text-center" style="font-size: 14px;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let response of responseList" class="custom-table">
            <td class="text-center">{{response.dealerId}}</td>
            <td class="text-center">{{response.dealerName}}</td>
            <td style="width: 10%" class="text-center">{{response.channelID}}</td>
            <td class="text-center"> {{response.dealerType}}</td>
            <td class="text-center"> {{response.dealerTier}}</td>
            <td class="text-center">{{response.L1Parent}}</td>
            <td class="text-center">{{response.L2Parent}}</td>
            <td style="width: 10%" class="text-center">{{response.Address}}</td>
            <td style="width: 25%" class="text-center"> {{response.jioPaymentsBank}}</td>
            <td style="width: 10%" class="text-center"> {{response.MobileNumber}}</td>
            <td style="width: 10%" class="text-center"> {{response.Emailaddress}}</td>
            <td style="width: 5%" class="text-center text-success"> {{response.dealerStatus}}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="responseList.length === 0" class="text-center">NO DATA AVAILABLE</p>
      <mat-paginator [length]="length"  [pageSize]="pageSize"  [pageSizeOptions]="pageSizeOptions"  (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
  </div>
</div>