<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/Jio-DM-image.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 ml-auto mr-auto">
            <form class="form-horizontal " (ngSubmit)="DealerLogin()">
              <div class=" text-center">
                <div class="header">
                  <h2 class="title text-white">Welcome to</h2>
                </div>
                <br>
                <br>
                <div class="body">
                  <div class="ml-auto mr-auto bg-danger rounded-circle" style="height: 120px; width: 120px; border-collapse: collapse; overflow: hidden;">
                    <img class="rounded-circle " src="/assets/img/jio_logo_3.png" alt="" height="120px" width="120px">
                  </div>
                  <div class="mt-3">
                    <h3 style="font-size: 30px" class="title text-white font-weight-bold">Jio Dealer Managment Platform</h3>
                  </div>
                </div>
                <br>
                <br>
  
                <div class="footer">
                  <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                    <button type="submit" class="btn btn-info btn-round">Dealer Login</button>
                  </div>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>