<div class="sidebar-wrapper">
    <div class="logo" style="height: 78px; vertical-align: middle;">
        <a class="logo-mini">
            <div class="logo-img">
                <section class="cmpo-logo"  style="height: 40px; width: 40px; border-radius: 20px;">
                    <img class="svgColor ml-1" src="./assets/img/Jio_Logo.svg" alt="" style="filter:brightness(50);">
                </section>
            </div>
        </a>
        <a class="logo-normal simple-text" style="cursor: context-menu; color: #fff">
            DICM
        </a>
    </div>
    <div *ngIf="isMobileMenu()">
       
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="#pablo" (click)="logout()">
                    <i class="material-icons">logout</i>
                    <p>
                        <span class="d-lg-none d-md-block">Logout</span>
                    </p>
                </a>
            </li>         
           
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}</p>
            </a>
            <!--If it have a submenu-->
            <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()" class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}
                    <b class="caret"></b>
                </p>
            </a>

            <!--Display the submenu items-->
            <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                        <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
                            <span class="sidebar-mini">{{childitem.ab}}</span>
                            <span class="sidebar-normal">{{childitem.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>