.navbar-custom {
    background-color: #ff5500;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-expand-lg
{
    background-color: #42f4eb !important;
}

