<div class="main-content">
<nav class="navbar navbar-expand-lg navbar-custom ">


  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/reliance_jio_blue_logo.jpg" alt="Logo" style="width:40px;">
    </a>
    <a href="#" class="navbar-brand">JDMP</a>
  </div>

  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="navbar-brand" href="#">
              <img src="./assets/img/user.png" alt="Logo" style="width:40px;">
            </a>
        </li>
      <li class="nav-item">
        <a class="nav-link"  href="#">Dealer Admin</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  href="#">Logout</a>
      </li>
    </ul>

</nav>

<!-- <mdb-navbar SideClass="navbar navbar-dark red">
    ...
    </mdb-navbar> -->

<nav class="navbar navbar-expand-lg bg-light navbar-custom">

</nav>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  <div class="container">
      <h2>Off Glyph</h2>
      <p>Off icon: <span class="glyphicon glyphicon-off"></span></p>    
      <p>Off icon as a link:
        <a href="#">
          <span class="glyphicon glyphicon-off"></span>
        </a>
      </p>
      <p>Off icon on a button:
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-off"></span> Off 
        </button>
      </p>
      <p>Off icon on a styled link button:
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-off"></span> Off 
        </a>
      </p> 
    </div>

  </div>