.bgImage {
    background-image: url('../../../../assets/img/BG_Image_1.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.svgColor{
    filter: invert(.6) sepia(1) saturate(5) hue-rotate(175deg);
}