<div class="main-content">
  <div class="col-md-12">
  <div class="row">
    <div class="col">
      <h3 class="mr-auto text-muted mt-0" style="margin-bottom:8px;">
        <b> Plan Data</b>
      </h3>
    </div>
  </div>
</div>
<div class="col-md-12">
  <mat-divider></mat-divider>
  <div class="table-responsive table-hover" style="overflow-x: auto;font-size: 14px;">
    <table class="table table-spacing">
      <thead style="font-size: 14px;">
        <tr>
          <th class="text-center" style="font-size: 14px;">Plan ID</th>
          <th class="text-center" style="font-size: 14px;">Product Offering</th>
          <th class="text-center" style="font-size: 14px;">Service Offering</th>
          <th class="text-center" style="font-size: 14px;">Plan/SKU</th>
          <th class="text-center" style="font-size: 14px;">Circle</th>
          <th class="text-center" style="font-size: 14px;">Plan Version</th>
          <th class="text-center" style="font-size: 14px;">MRP</th>
          <th class="text-center" style="font-size: 14px;">Sale Amount</th>
          <th class="text-center" style="font-size: 14px;">Old Device Brand</th>
          <th class="text-center" style="font-size: 14px;">Old Device Type</th>
          <th class="text-center" style="font-size: 14px;">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let response of planResponseList" class="custom-table">
          <td class="text-center">{{response.planId}}</td>
          <td class="text-center">{{response.productOffering}}</td>
          <td class="text-center">{{response.serviceOffering}}</td>
          <td class="text-center"> {{response.plan_SKU}}</td>
          <td class="text-center"> {{response.planCircle}}</td>
          <td class="text-center">{{response.planVersion}}</td>
          <td class="text-center">{{response.mrp}}</td>
          <td class="text-center">{{response.saleAmount}}</td>
          <td class="text-center"> {{response.oldDeviceBrand}}</td>
          <td class="text-center"> {{response.oldDeviceType}}</td>
          <td class="text-center text-success"> {{response.planStatus}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="planResponseList.length === 0" class="text-center">NO DATA AVAILABLE</p>
    <mat-paginator [length]="length"  [pageSize]="pageSize"  [pageSizeOptions]="pageSizeOptions"  (page)="onPageChanged($event)">
    </mat-paginator>
  </div>
</div>
</div>